<header class="max-w-8xl mx-auto sticky top-0 w-full bg-white  z-50 px-6 font-header">
    <div class="h-18 flex items-center justify-between">

        <div class="flex items-center gap-3 py-4 lg:py-0">
            <img class="w-11 h-11 md:w-12 md:h-12 hidden sm:block" src="./assets/logo-black.png" alt="logo">
            <div class="relative ">
                <input type="search" placeholder="Search"
                    class="input rounded-3xl pl-10 md:w-80 focus:md:w-[500px] transition-all">
                <svg class="w-5 h-5 absolute left-3 top-2.5 text-gray-400" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24">
                    <circle cx="11" cy="11" r="7" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                </svg>
            </div>
        </div>

        <nav class="hidden lg:flex items-center gap-6 p-3">
            <div class="relative inline-block">
                <!-- Bell Button -->
                <button (click)="toggleNotifications()" class="relative text-gray-600 hover:text-black transition">

                    <mat-icon>notifications</mat-icon>

                    <!-- Badge -->
                    <span *ngIf="notificationService.unreadCount() > 0"
                        class="absolute -top-2 -right-3 bg-red-500 text-white text-xs w-6 h-6 flex items-center justify-center rounded-full">
                        {{ notificationService.unreadCount() > 99 ? '99+' : notificationService.unreadCount() }}
                    </span>

                </button>

                <!-- Dropdown -->
                <div *ngIf="isNotificationsListOpen"
                    class="absolute right-0 mt-3 w-80 bg-white shadow-xl rounded-xl border z-50">

                    <!-- Header -->
                    <div class="px-4 py-3 border-b flex justify-between items-center">
                        <span class="font-semibold text-gray-800">Notifications</span>
                        <a routerLink="/notifications" class="text-blue-600 text-xs hover:underline">
                            View All
                        </a>
                    </div>

                    <ng-container *ngIf="(notificationService.state()?.items?.length ?? 0) > 0; else emptyState">

                        <div class="max-h-96 overflow-y-auto">

                            <div *ngFor="let n of notificationService.state()?.items" (click)="goToDetails(n)"
                                class="flex gap-3 p-3 border-b border-gray-100 cursor-pointer hover:bg-gray-50"
                                [ngClass]="{ 'bg-blue-50': !n.isRead }">

                                <div class="w-11 h-11 flex items-center justify-center rounded-full shrink-0">
                                    <img class="rounded-full w-full h-full"
                                        [src]="n.actorImage || './assets/avatar.png'"
                                        [alt]="n.actorName || 'user avatar'">
                                </div>

                                <div class="flex-1">
                                    <div class="flex justify-between items-start gap-2">
                                        <p class="text-sm font-medium text-gray-900">{{ n.message }}</p>
                                        <span *ngIf="!n.isRead"
                                            class="w-2 h-2 bg-blue-500 rounded-full mt-1 shrink-0"></span>
                                    </div>

                                    <div class="flex justify-between mt-1">
                                        <span class="text-xs text-gray-500">{{ n.actorName }}</span>
                                        <span class="text-xs text-gray-400">{{ n.createdAt | date:'MMM d, h:mm a'
                                            }}</span>
                                    </div>
                                </div>
                            </div>

                            <div appInfiniteScroll (scrolled)="loadMoreNotifications()" class="h-0.5">
                            </div>

                        </div>

                    </ng-container>

                    <ng-template #emptyState>
                        <div class="p-6 text-center text-gray-500">
                            No notifications yet
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="relative border-l border-gray-300 pl-4 mx-3">
                <button (click)="toggleMe()"
                    class="flex flex-col justify-center items-center text-gray-500 hover:text-black transition-colors">
                    <img class="w-10 h-10 rounded-full border-2 border-light-green"
                        [src]="this.userService.profile()?.pictureUrl || './assets/avatar.png'" alt="user">
                    <span class="flex items-center text-[11px] font-medium mt-1">
                        Me <svg class="w-3 h-3 ml-0.5 transition-transform" [class.rotate-180]="isMeClicked"
                            fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 16L6 10H18L12 16Z" />
                        </svg>
                    </span>
                </button>

                <div *ngIf="isMeClicked"
                    class="absolute right-0 mt-2 w-48 bg-white border rounded-lg shadow-xl py-2 animate-in fade-in slide-in-from-top-2">
                    <a [routerLink]="['/profile' ,this.userService.profile()?.id]"
                        class="block px-4 py-2 text-sm hover:bg-gray-100">View Profile</a>
                    <hr class="my-1">
                    <button class="w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-gray-100"
                        (click)="onLogout()">Logout</button>
                </div>
            </div>
        </nav>

        <button (click)="isMenuOpen = !isMenuOpen" class="lg:hidden p-2">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path *ngIf="!isMenuOpen" d="M4 6h16M4 12h16m-7 6h7" stroke-width="2" stroke-linecap="round" />
                <path *ngIf="isMenuOpen" d="M6 18L18 6M6 6l12 12" stroke-width="2" stroke-linecap="round" />
            </svg>
        </button>
    </div>

    <div *ngIf="isMenuOpen" class="lg:hidden fixed inset-0 z-[60]">
        <div class="absolute inset-0 bg-black/20 backdrop-blur-sm" (click)="isMenuOpen = false"></div>

        <div class="absolute right-0 top-0 h-full w-64 bg-white shadow-2xl p-6 flex flex-col gap-1">
            <a *ngFor="let item of navItems" [routerLink]="[item.link]" routerLinkActive="'bg-light-green'"
                (click)="isMenuOpen = false"
                class="flex p-4 gap-2 justify-start text-gray-600 hover:bg-light-green hover:text-dark-blue rounded-lg">
                <mat-icon class="w-8 h-8  text-dark-blue">
                    {{ item.iconName }}
                </mat-icon>
                <span class="font-medium">{{item.label}}</span>
            </a>
            <hr>
            <div class="flex flex-col gap-6 p-4">
                <a [routerLink]="['/profile' ,this.userService.profile()?.id]" (click)="isMenuOpen = false"
                    class="font-medium text-gray-500 hover:text-gray-00">View Profile</a>
                <button class="text-left font-medium text-red-600" (click)="onLogout()">Logout</button>
            </div>
        </div>
    </div>
</header>