<div class="max-w-full bg-white rounded-xl border border-gray-200 overflow-hidden shadow-sm m">

    <div class="p-3 text-center border-b border-gray-100 bg-gray-300">
        <div class="relative flex justify-center">
            <img src="./assets/our-team/micheal.jpeg"
                class="w-16 h-16 rounded-full border-2 border-white object-cover bg-white" alt="Micheal Ghobrial">
        </div>

        <div class="mt-3">
            <a href="#" class="group">
                <h2
                    class="text-base font-semibold text-gray-900 group-hover:underline flex items-center justify-center gap-1">
                    Micheal Ghobrial
                </h2>
            </a>
        </div>
    </div>

    <div class="py-3 px-3">
        <div class="flex justify-between items-center text-[12px] font-semibold">
            <span class="text-gray-500">Profile viewers</span>
            <span class="text-blue-600">42</span>
        </div>
        <div class="flex justify-between items-center text-[12px] font-semibold mt-2">
            <span class="text-gray-500">Post impressions</span>
            <span class="text-blue-600">1,024</span>
        </div>
    </div>

</div>