<footer class="relative pt-20 pb-10 border-t border-gray-100 bg-gradient-to-tl from-white to-light-green/15">
    <div class="max-w-7xl mx-auto px-4 md:px-6">
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-12 mb-16">

            <div class="col-span-1">
                <div class="flex items-center gap-2 mb-6">
                    <img class="w-10 h-10" src="./assets/logo.png" alt="logo">
                    <p class="text-lg lg:text-2xl font-extrabold text-dark-blue tracking-tight">Help Hand</p>
                </div>
                <p class="text-md text-dark-blue/70 leading-relaxed mb-6">
                    The future of philanthropy. Built with precision, data, and a commitment to radical transparency.
                </p>
            </div>

            <div>
                <h5 class="font-bold text-dark-blue mb-6 uppercase text-xs tracking-widest">Company</h5>
                <ul class="space-y-4 text-sm text-dark-blue/70">
                    <li><a [routerLink]="['/']" fragment="about" class="hover:text-light-green transition-colors">About
                            Us</a></li>
                    <li><a [routerLink]="['/']" fragment="how-it-works"
                            class="hover:text-light-green transition-colors">How it Works</a></li>
                    <li><a [routerLink]="['/']" fragment="team" class="hover:text-light-green transition-colors">Our
                            Team</a></li>
                    <li><a href="#" class="hover:text-light-green transition-colors">Career</a></li>
                </ul>
            </div>

            <div>
                <h5 class="font-bold text-dark-blue mb-6 uppercase text-xs tracking-widest">Resources</h5>
                <ul class="space-y-4 text-sm text-dark-blue/70">
                    <li><a href="#" class="hover:text-light-green transition-colors">Help Center</a></li>
                    <li><a href="#" class="hover:text-light-green transition-colors">Transparency Report</a></li>
                    <li><a href="#" class="hover:text-light-green transition-colors">Smart Routing Docs</a></li>
                    <li><a href="#" class="hover:text-light-green transition-colors">Contact Support</a></li>
                </ul>
            </div>

            <div>
                <h5 class="font-bold text-dark-blue mb-6 uppercase text-xs tracking-widest">
                    Contact
                </h5>

                <ul class="space-y-4 text-sm text-dark-blue/80">
                    <li class="flex items-start gap-3 group">
                        <div>
                            <p class="text-xs uppercase text-dark-blue/50">Email</p>
                            <a href="mailto:support@helphand.com" class="hover:text-light-green transition-colors">
                                support&#64;helphand.com
                            </a>
                        </div>
                    </li>
                    <li class="flex items-start gap-3 group">
                        <div>
                            <p class="text-xs uppercase text-dark-blue/50">Phone</p>
                            <a href="tel:+201201605049" class="hover:text-light-green transition-colors">
                                +20 120 160 5049
                            </a>
                        </div>
                    </li>
                    <li class="flex items-start gap-3 group">
                        <div>
                            <p class="text-xs uppercase text-dark-blue/50">Location</p>
                            <span>Cairo, Egypt</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="pt-8 border-t border-dark-blue/5 flex flex-col md:flex-row justify-between items-center gap-4 text-[10px] uppercase tracking-[0.2em] font-bold text-dark-blue/50">
            <div>© 2026 Help Hand Inc. Engineering Better Futures.</div>
            <div class="flex gap-8">
                <a class="hover:text-light-green transition-colors" href="#">Privacy Policy</a>
                <a class="hover:text-light-green transition-colors" href="#">Terms of Service</a>
                <a class="hover:text-light-green transition-colors" href="#">Security</a>
            </div>
        </div>
    </div>
</footer>