<nav class="fixed top-20 right-0 h-[calc(100vh-5rem)] bg-white p-6 w-80">
    <div class="mb-8">
        <div class="flex items-center gap-2 mb-4">
            <span class="animate-stepPulse h-3 w-3 rounded-full  bg-light-green/75 "></span>
            <span class="text-sm font-bold text-dark-blue">Live Impact</span>
        </div>
        <div class="flex gap-3 items-center mb-3">
            <div class="w-8 h-8 rounded-full bg-slate-100 border border-slate-200 flex-shrink-0 bg-cover bg-center"
                data-alt="Avatar of donor"
                style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuAvWxblN8XolmA0IwYwQN1hBclw3u_EEjlJfCc0HvJZZEmo6bkOy5FzHSOWek7LwIUccmoom7Du5gOsgE4F3juY7obpurHngEoVjD3nj-67nm-j1lcCdxG-8ZVAr8hzM65otbCGRlk_5jcm66UVnGCOOOjqJhIM9H-eyIMnpsRrsv8ryvV-8wqzbzYnVRXqhzlYoBR284PURpg810biG3d871A-PONTyFTcqngyu4f1caHeGNe_j_poniNum9UZoYMsjN8cR2NaOUkT')">
            </div>
            <div class="text-xs mt-1">
                <p class="text-slate-600"><span class="font-bold text-dark-blue">Sarah M.</span> donated <span
                        class="text-light-green font-bold">$150</span></p>
                <p class="text-slate-400">to Restoration Fund • 2m ago</p>
            </div>
        </div>
        <div class="flex gap-3 items-center mb-3">
            <div class="w-8 h-8 rounded-full bg-slate-100 border border-slate-200 flex-shrink-0 bg-cover bg-center"
                data-alt="Avatar of donor"
                style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC2PQrlrIjeqm3I1VxhkBA7kV8hWG-8aynZUW6Who-L_QFFKxZBuoQHL3-UrtIdxx4QPTHts7w0yK5LYP2zCHdx2vod0BQx1s7uSQKwZUuDMLaniI_yZ41vaJVH8cmcVYkz72NSx_MkX_fpaf4zeALwHLHnkhyQmgInMXE0cBorJNc846ei2rE_WQNwCGNS2q7G7vvg6Vr2IaftpFNnJCdWAEY73VIERRQuCjfw1GyZ_q8H8I0wxxAzFv312fs1goz4rEzxAXhg7nmW')">
            </div>
            <div class="text-xs mt-1">
                <p class="text-slate-600"><span class="font-bold text-dark-blue">Elena R.</span> donated <span
                        class="text-light-green font-bold">$25</span></p>
                <p class="text-slate-400">to Clean Water Hub • 8m ago</p>
            </div>
        </div>
        <div class="flex gap-3 items-center">
            <div class="w-8 h-8 rounded-full bg-slate-100 border border-slate-200 flex-shrink-0 bg-cover bg-center"
                data-alt="Avatar of donor"
                style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuA15Wc0QBp48e9f0S4sDyRboIYnGlbBRUJHBZFT4W1abXZP7E5ASxhEw2IvXpt2qDxDAEJSGiquYLjS4QcP4S-v08pVXHFj_Sd-hQJVLN8IbGXnNjbeIfyjjvUdVfXS7utB_YSCgDavscrE5kowz7hkib4fxZhTqFLdv-_9PjmT1nA7FApqO-KEURpCTuMp3NvfVGMBjqY-mvlLsQWLgsOvtmIleSG9NiFuRZYOvL1Pt9PJdjhHH3l81mkCaNqKd1M8XqHry_an-SpH')">
            </div>
            <div class="text-xs mt-1">
                <p class="text-slate-600"><span class="font-bold text-dark-blue">Mark T.</span> donated <span
                        class="text-light-green font-bold">$500</span></p>
                <p class="text-slate-400">to Amazon Reforest • 15m ago</p>
            </div>
        </div>
    </div>
    <!-- Trending Needs -->
    <div>
        <h4 class="text-sm font-bold text-dark-blue mb-2">Trending Needs</h4>
        <div class="space-y-4">
            <div class="group cursor-pointer mb-6">
                <div class="flex items-center justify-between mb-1">
                    <span class="text-[11px] font-bold text-slate-400 uppercase tracking-tighter">Emergency
                        Relief</span>
                    <span class="text-[11px] font-bold text-red-500">Urgent</span>
                </div>
                <p class="text-xs font-bold text-dark-blue group-hover:text-light-green transition-colors">Flood
                    Recovery in
                    Southeast Asia</p>
                <div class="mt-2 w-full h-1.5 bg-slate-100 rounded-full">
                    <div class="h-full bg-red-500 rounded-full" style="width: 85%"></div>
                </div>
            </div>
            <div class="group cursor-pointer">
                <div class="flex items-center justify-between mb-1">
                    <span class="text-[11px] font-bold text-slate-400 uppercase tracking-tighter">Education</span>
                    <span class="text-[11px] font-bold text-slate-400">90% Funded</span>
                </div>
                <p class="text-xs font-bold text-dark-blue group-hover:text-light-green transition-colors">Digital
                    Literacy
                    for Rural Schools</p>
                <div class="mt-2 w-full h-1.5 bg-slate-100 rounded-full">
                    <div class="h-full bg-light-green rounded-full" style="width: 90%"></div>
                </div>
            </div>
        </div>
        <button
            class="w-full mt-6 py-3 border border-slate-200 rounded-xl text-xs font-bold text-slate-600 bg-slate-50 hover:bg-slate-100 transition-all">
            View Global Impact Map
        </button>
    </div>
    <!-- App Stats Badge -->
    <div class="mt-6 p-4 bg-dark-blue rounded-2xl text-center relative leading-10">
        <p class="text-xs font-bold text-light-green uppercase ">Total Impact Today</p>
        <p class="font-black text-white">$1,240,582</p>
        <p class="text-xs text-white/50 ">across 142 verified cases</p>
    </div>
</nav>