<nav
    class="fixed left-0 top-20 h-[calc(100vh-5rem)] bg-gradient-to-bl from-dark-blue to-bright-blue text-white p-8 flex flex-col z-30">
    <div class="space-y-2 flex-1 ">
        <a class="flex items-center gap-3 p-3 rounded-2xl  transition-colors" [routerLink]="['/feed']"
            [routerLinkActive]="['bg-light-green','text-dark-blue']">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>
        <a *ngIf="!authService.isRequester()" class="flex items-center gap-3 p-3 rounded-2xl  transition-colors"
            href="#" [routerLinkActive]="['bg-light-green','text-dark-blue']">
            <mat-icon>favorite</mat-icon>
            <span>My Donations</span>
        </a>
        <a class="flex items-center gap-3 p-3 rounded-2xl  transition-colors" [routerLink]="['/categories']"
            [routerLinkActive]="['bg-light-green','text-dark-blue']">
            <mat-icon>grid_view</mat-icon>
            <span>Categories</span>
        </a>
        <a *ngIf="authService.isAdmin()" class="flex items-center gap-3 p-3 rounded-2xl  transition-colors"
            [routerLink]="['/admin']" [routerLinkActive]="['bg-light-green','text-dark-blue']">
            <mat-icon>dashboard</mat-icon>
            <span>Admin Dashboard</span>
        </a>
        <div class="pt-6 pb-2">
            <p class="text-[10px] font-bold uppercase tracking-[0.2em] text-white/40 px-4">
                Platform
            </p>
        </div>

        <a [routerLink]="['/']" [fragment]="'about'" class="flex items-center gap-3 p-3 rounded-2xl transition-colors"
            routerLinkActive="bg-light-green text-dark-blue" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon class="text-xl">info</mat-icon>
            <span class="font-medium">About Us</span>
        </a>

    </div>
    <div class="mx-auto bg-white/5 rounded-3xl p-4 border border-white/10">
        <p class="text-xs text-white/60 mb-3 leading-relaxed">Ready to make a bigger difference?</p>
        <button
            class="w-full py-3 bg-light-green text-dark-blue font-bold rounded-xl text-sm hover:scale-[1.02] active:scale-[0.98] transition-all">
            Start Fundraiser
        </button>
    </div>
</nav>