<div class="flex flex-col">
    <div class="flex items-center justify-center mb-3">
        <div class="flex gap-x-3">
            <button *ngFor="let f of filters" (click)="onFilterClick(f)" [ngClass]="filter === f
      ? 'bg-light-green/20 '
      : 'category-btn'" class="rounded-3xl px-3 py-2 border transition-colors">
                {{ f }}
            </button>
        </div>
    </div>
    <div class="flex items-center justify-between mb-6">
        <p class="text-xl lg:text-2xl text-dark-blue font-bold">Donation Feed</p>
        <div class="flex gap-x-2">
            <button (click)="onSortClick('Recent')" [ngClass]="{
            'bg-light-green/20 text-dark-blue': sort === 'Recent',
            'bg-white text-gray-800': sort !== 'Recent'
          }" class="rounded-xl px-3 py-2 transition-colors">
                Recent
            </button>

            <button (click)="onSortClick('Urgent')" [ngClass]="{
            'bg-light-green/20 text-dark-blue': sort === 'Urgent',
            'bg-white text-gray-800': sort !== 'Urgent'
          }" class="rounded-xl px-3 py-2 transition-colors">
                Urgent
            </button>
        </div>
    </div>
    <!-- Grid container -->
    <div class="grid grid-cols-1 2xl:grid-cols-2 gap-6">
        <div *ngFor="let post of posts; trackBy:trackById">
            <app-card [post]="post" />
        </div>
        <div appInfiniteScroll (scrolled)="loadPosts()" style="height: 1px;">
        </div>
    </div>
</div>