<div class="flex flex-col px-2" [class.mt-5]="!authService.isRequester()">
    <!-- Create Post -->
    <div *ngIf="authService.isRequester()" class="flex items-center justify-center w-full mb-8">
        <div class="bg-white/60 -mt-1 sm:mt-0 p-2 sm:p-6 rounded-t-none rounded-2xl shadow-md flex items-center space-x-2 sm:space-x-4  w-full max-w-4xl h-24"
            (click)="openModal()">

            <img [src]="this.UserService.profile()?.pictureUrl || './assets/avatar.png'" alt="requester"
                class="w-14 h-14 rounded-full" />

            <input type="text" placeholder="Start a post"
                class="flex-1 bg-gray-100 rounded-full px-6 py-3 text-lg focus:border-light-green/30 cursor-pointer"
                readonly />
        </div>

        <app-create-post *ngIf="isModalOpen" (closed)="closeModal()" (submitted)="onCreatePost($event)" />
    </div>

    <!-- Filter -->
    <div class="flex items-center justify-center mb-6 md:mb-3">
        <div class="flex gap-x-3">
            <button *ngFor="let f of filters" (click)="onFilterClick(f)" [ngClass]="filter === f
      ? 'bg-light-green/20 '
      : 'category-btn'" class="rounded-3xl px-3 py-2 border transition-colors shadow-sm">
                {{ f }}
            </button>
        </div>
    </div>


    <!-- Sort By -->
    <div class="relative flex items-center mb-8">

        <div class="flex-1 relative translate-y-2">
            <span class="absolute -top-5 right-0 text-sm font-medium text-dark-blue/60">
                Sort By
            </span>
        </div>

        <!-- Buttons -->
        <div class="relative ml-4">
            <!-- Main Button -->
            <button (click)="toggleDropdown()"
                class="rounded-xl  px-4 py-2 bg-white text-gray-800 flex items-center gap-2 shadow-md">
                {{ selectedLabel }}
                <span class="text-sm">▼</span>
            </button>

            <!-- Dropdown -->
            <ul *ngIf="isOpen" class="absolute mt-2 w-40 bg-white shadow-lg rounded-xl overflow-hidden z-50">

                <li *ngFor="let item of sortOptions">
                    <button (click)="selectSort(item)"
                        class="w-full text-left px-4 py-2 hover:bg-gray-100 transition-colors" [ngClass]="{
          'bg-light-green/20 text-dark-blue': sort === item.value
        }">
                        {{ item.label }}
                    </button>
                </li>

            </ul>
        </div>

    </div>

    <div class="relative mb-8 text-center text-3xl font-bold">
        <h1 class="text-dark-blue">Donation Feed</h1>
    </div>

    <!--Posts  -->
    <div class="grid grid-cols-1 2xl:grid-cols-2 gap-6  mb-2">
        <div *ngFor="let post of posts; trackBy:trackById" [ngClass]="{
                'col-span-2': loading,
                '2xl:col-span-1': loading
            }">
            <app-card [post]="post" />
        </div>

        <div class="flex justify-center py-4 col-span-2" *ngIf="loading">
            <svg class="animate-spin h-6 w-6 text-gray-400" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                    stroke-dasharray="60" stroke-dashoffset="20">
                </circle>
            </svg>
        </div>
        <div appInfiniteScroll (scrolled)="loadPosts()" style="height: 1px;">
        </div>
    </div>
</div>