<div class="bg-white rounded-2xl shadow-sm border p-5 
    transition-all duration-200 
    hover:shadow-md hover:-translate-y-1 
    hover:bg-slate-50 cursor-pointer" [routerLink]="['/posts', post.id]">

    <div class="flex items-start justify-between gap-4">

        <!-- Left Content -->
        <div class="flex-1 min-w-0">
            <h3 class="text-lg font-semibold text-gray-800 mb-1 line-clamp-1">
                {{ post.title }}
            </h3>

            <p class="text-gray-500 text-sm leading-relaxed line-clamp-2 mb-3">
                {{ post.content }}
            </p>

            <div class="flex items-center gap-1 text-[10px] text-gray-400 font-bold uppercase tracking-wider">
                <mat-icon class="!text-lg !w-5 !h-7 text-red-500">favorite</mat-icon>
                <span>{{ post.likesCount }}</span>
                <span class="w-1 h-1 bg-gray-300 rounded-full"></span>
                <span>View post</span>
            </div>
        </div>

        <!-- Right Content: Post Picture or Icon -->
        @if (post.postPicture) {
        <div class="w-20 h-20 rounded-xl overflow-hidden shrink-0 border shadow-sm">
            <img [src]="post.postPicture" alt="Post picture" class="w-full h-full object-cover">
        </div>
        } @else {
        <div class="flex items-center justify-center w-10 h-10 rounded-xl bg-indigo-50 text-indigo-600 shrink-0">
            <mat-icon>description</mat-icon>
        </div>
        }
    </div>
</div>