<main class="max-w-full bg-white shadow-sm overflow-hidden bg-light-gray/20 pb-10 ">
    <section class="relative">
        <div class="h-36 md:h-64 w-full bg-slate-200 overflow-hidden lg:rounded-b-xl relative">
            <div class="absolute inset-0 bg-gradient-to-r from-light-/10 to-bright-blue/10"></div>
        </div>
        <div class="px-6 -mt-20 relative z-10">
            <div class="flex flex-col md:flex-row md:items-end justify-between gap-6">
                <div class="flex flex-col md:flex-row md:items-end gap-6">
                    <div class="w-40 h-40 rounded-full border-[6px] border-white shadow-xl overflow-hidden bg-white">
                        <img class="w-full h-full object-cover" data-alt="User main profile circular portrait"
                            [src]="user.pictureUrl || './assets/avatar.png'" />
                    </div>
                    <div class="mb-2">
                        <div class="flex items-center gap-1">
                            <h1 class="text-xl lg:text-3xl font-bold text-dark-blue">{{user.fullName}}</h1>
                            <mat-icon class="text-light-green">verified</mat-icon>
                        </div>
                        <p class="text-slate-500 font-medium">{{user.role}}</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap gap-3 justify-end items-end my-2">
                <button *ngIf="isCurrentUserProfile" (click)="showEditModal = true"
                    class="w-full sm:w-auto flex items-center justify-center gap-2 px-6 py-2.5 rounded-full border-2 border-slate-200 font-bold text-dark-blue  hover:bg-slate-50 transition-all">
                    <mat-icon>edit</mat-icon>
                    Edit Profile
                </button>
                <button (click)="shareProfile()"
                    class="w-full sm:w-auto flex items-center justify-center gap-2 px-6 py-2.5 rounded-full bg-light-green text-dark-blue font-bold shadow-lg shadow-light-green/30 hover:scale-[1.02] transition-all">
                    <mat-icon>share</mat-icon>
                    Share Profile
                </button>
            </div>
        </div>
    </section>
    <div class="px-2">
        <!-- Stats Bar -->
        <section class="lg:px-12 mt-10">
            <div
                class="grid grid-cols-1 md:grid-cols-3 gap-4 bg-slate-50 p-4 rounded-2xl border border-light-gray dark:border-slate-800 shadow-sm">

                <!-- Total Posts -->
                <div (click)="setTab('posts')"
                    class="flex items-center gap-4 px-6 py-5 rounded-xl hover:bg-bright-blue/5 transition-colors group cursor-pointer">
                    <div
                        class="w-12 h-12 rounded-full bg-bright-blue/10 flex items-center justify-center text-bright-blue group-hover:scale-110 transition-transform">
                        <mat-icon class="text-2xl">dynamic_feed</mat-icon>
                    </div>
                    <div>
                        <p class="text-2xl font-bold text-dark-blue dark:text-slate-100 tracking-tight">
                            {{ userPostsDto?.totalPostsCount}}
                        </p>
                        <p class="text-sm text-slate-500 font-medium">Posts</p>
                    </div>
                </div>

                <!-- Total Comments -->
                <div (click)="setTab('comments')"
                    class="flex items-center gap-4 px-6 py-5 rounded-xl hover:bg-light-green/5 transition-colors group cursor-pointer">
                    <div
                        class="w-12 h-12 rounded-full bg-light-green/10 flex items-center justify-center text-light-green group-hover:scale-110 transition-transform">
                        <mat-icon class="text-2xl">chat_bubble</mat-icon>
                    </div>
                    <div>
                        <p class="text-2xl font-bold text-dark-blue tracking-tight">
                            <!-- {{ user().totalCommentsCount }} --> 10
                        </p>
                        <p class="text-sm text-slate-500 font-medium">Comments</p>
                    </div>
                </div>

                <!-- Total Reactions -->
                <div (click)="setTab('likes')"
                    class="flex items-center gap-4 px-6 py-5 rounded-xl hover:bg-soft-red/5 transition-colors group cursor-pointer">
                    <div
                        class="w-12 h-12 rounded-full bg-soft-red/10 flex items-center justify-center text-soft-red group-hover:scale-110 transition-transform">
                        <mat-icon class="text-2xl">favorite</mat-icon>
                    </div>
                    <div>
                        <p class="text-2xl font-bold text-dark-blue tracking-tight">
                            {{ userReactionsDto?.totalLikesCount}}
                        </p>
                        <p class="text-sm text-slate-500 font-medium">Reactions</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Navigation Tabs -->
        <section class="lg:px-20 mt-12 border-b border-light-gray">
            <div class="flex justify-center gap-6 md:justify-start md:gap-10  text-slate-400 ">
                <button (click)="setTab('posts')"
                    class="pb-4 px-2 font-bold text-sm hover:text-dark-blue tracking-wide uppercase transition-colors"
                    [ngClass]="{
                    'border-b-2 border-light-green text-dark-blue':activeTab==='posts'
                }">Posts</button>
                <button (click)="setTab('comments')" [ngClass]="{
                    'border-b-2 border-light-green text-dark-blue':activeTab==='comments'
                }"
                    class="pb-4 px-2 font-bold text-sm hover:text-dark-blue tracking-wide uppercase transition-colors">Comments</button>
                <button (click)="setTab('likes')" [ngClass]="{
                    'border-b-2 border-light-green text-dark-blue':activeTab==='likes'
                }"
                    class="pb-4 px-2 font-bold text-sm hover:text-dark-blue tracking-wide uppercase transition-colors">Likes</button>
            </div>
        </section>
        <!-- Tabs Content -->
        <div class="px-6">
            <!-- Posts Tab -->
            <section *ngIf="activeTab === 'posts'" class="lg:px-12 mt-10">
                <div *ngIf="!this.userPostsDto?.posts || userPostsDto?.totalPostsCount === 0"
                    class="text-center text-slate-500 py-20">
                    <p class="text-xl font-semibold">No posts yet</p>
                    <p class="text-sm mt-3">
                        Start creating your first post to share with the community!
                    </p>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <app-profile-post *ngFor="let post of userPostsDto?.posts" [post]="post" />
                </div>
            </section>

            <!-- Comments Tab -->
            <!-- <section *ngIf="activeTab === 'comments'" class="px-6 lg:px-20 mt-10">
        <div *ngIf="!user().comments || user().comments.length === 0" class="text-center text-slate-500 py-16">
            <p class="text-lg font-medium">No comments yet</p>
        </div>
        <div class="space-y-4">
            <div *ngFor="let comment of user().comments" class="p-4 border rounded">
                comment.text
            </div>
        </div>
    </section> -->

            <!-- Likes Tab -->
            <section *ngIf="activeTab === 'likes'" class="lg:px-20 mt-10">
                <div *ngIf="!this.userReactionsDto ||this.userReactionsDto.totalLikesCount === 0"
                    class="text-center text-slate-500 py-16">
                    <p class="text-lg font-medium">No likes yet</p>
                </div>
                <div class="space-y-4">
                    <app-profile-like *ngFor="let like of userReactionsDto?.reactions" [like]="like" />
                </div>
            </section>
        </div>
    </div>
    <app-edit-profile *ngIf="showEditModal" [user]="user" (save)="updateUser($event)" (cancel)="showEditModal = false"
        (deleteAccount)="deleteUser()">
    </app-edit-profile>
</main>