<div class="min-h-screen w-full bg-[#f2f2f7] font-content flex flex-col">

    <!-- HEADER -->
    <app-user-header class="fixed top-0 left-0 w-full z-50" />

    <!-- CONTENT AREA -->
    <div class="flex flex-1 pt-20 px-4 xl:px-8">

        <!-- LEFT SIDEBAR -->
        <aside class="hidden xl:flex w-80">
            <app-user-left-sidebar />
        </aside>

        <!-- MAIN FEED -->
        <main class="flex-1 p-8  bg-[#f2f2f7]">
            <router-outlet />
        </main>

        <!-- RIGHT SIDEBAR -->
        <aside class="hidden xl:flex w-80">
            <app-user-right-sidebar />
        </aside>

    </div>

</div>