<div class="min-h-screen flex flex-col bg-stone-100/75 font-content">

  <!-- HEADER -->
  <app-user-header class="sticky top-0 z-50"></app-user-header>

  <!-- CONTENT -->
  <div class="flex flex-1 w-full relative">

    <!-- LEFT SIDEBAR -->
    <aside class="hidden lg:flex w-64 xl:w-72 sticky top-16 sm:top-18 h-[calc(100vh-4rem)] sm:h-[calc(100vh-4rem)] shrink-0">
      <app-user-left-sidebar class="w-full h-full" />
    </aside>

    <!-- MAIN CONTENT -->
    <main class="flex-1 min-w-0 px-4 sm:px-6 lg:px-8">
      <div class="max-w-5xl mx-auto py-4 sm:py-6 lg:py-8">
        <router-outlet />
      </div>
    </main>

    <!-- RIGHT SIDEBAR -->
    <aside class="hidden xl:flex w-72 xl:w-80 sticky top-16 sm:top-18 h-[calc(100vh-4rem)] sm:h-[calc(100vh-4rem)] shrink-0">
      <app-user-right-sidebar class="w-full h-full" />
    </aside>

  </div>

  <!-- FLOATING Conversations -->
  <div class=" hidden lg:flex fixed bottom-0 right-2 sm:right-4 z-50">
    <app-messaging />
  </div>

</div>
