::selection {
  background-color: color-mix(in srgb, var(--light-green), transparent 70%);
  color: var(--dark-blue);
}
::-moz-selection {
  background-color: color-mix(in srgb, var(--light-green), transparent 70%);
  color: var(--dark-blue);
}
