<aside class="w-64 bg-white border-r border-slate-100 hidden md:flex flex-col h-full fixed left-0 top-0 z-50">

    <div class="p-8 pb-4 flex items-center justify-center gap-3 border-b-4 border-slate-50">
        <div class="w-10 h-10 rounded-xl flex items-center justify-center">
            <img [src]="user?.pictureUrl || './assets/avatar.png'" alt="Admin picture"
                class="w-10 h-10 rounded-full object-cover ring-2 ring-gray-200">
        </div>
        <div class="flex flex-col">
            <h1 class="text-lg font-bold tracking-tight text-slate-900">{{user?.fullName}}</h1>
            <p class="text-sm font-medium text-slate-500">{{user?.role}}</p>
        </div>
    </div>

    <nav class="flex-1 px-6 space-y-2 mt-4">

        <!-- Dashboard -->
        <a [routerLink]="['dashboard']" routerLinkActive="bg-indigo-600 text-white shadow-lg shadow-indigo-100"
            class="flex items-center gap-4 px-4 py-3 rounded-xl text-slate-500">
            <mat-icon>dashboard</mat-icon>
            <span class="text-sm font-semibold">Dashboard</span>
        </a>

        <!-- Notifications -->
        <a [routerLink]="['notifications']" routerLinkActive="bg-indigo-600 text-white shadow-lg shadow-indigo-100"
            class="flex items-center gap-4 px-4 py-3 rounded-xl text-slate-500">
            <mat-icon>notifications</mat-icon>
            <span class="text-sm font-semibold">Notifications</span>
        </a>

        <!-- Users -->
        <a [routerLink]="['users']" routerLinkActive="bg-indigo-600 text-white shadow-lg shadow-indigo-100"
            class="flex items-center gap-4 px-4 py-3 rounded-xl text-slate-500">
            <mat-icon>group</mat-icon>
            <span class="text-sm font-semibold">Users</span>
        </a>

        <!-- Posts -->
        <a [routerLink]="['posts']" routerLinkActive="bg-indigo-600 text-white shadow-lg shadow-indigo-100"
            class="flex items-center gap-4 px-4 py-3 rounded-xl text-slate-500">
            <mat-icon>article</mat-icon>
            <span class="text-sm font-semibold">Posts</span>
        </a>

        <!-- Categories -->
        <a [routerLink]="['categories']" routerLinkActive="bg-indigo-600 text-white shadow-lg shadow-indigo-100"
            class="flex items-center gap-4 px-4 py-3 rounded-xl text-slate-500">
            <mat-icon>category</mat-icon>
            <span class="text-sm font-semibold">Categories</span>
        </a>
        <!-- Payments -->
        <a [routerLink]="['payments']" routerLinkActive="bg-indigo-600 text-white shadow-lg shadow-indigo-100"
            class="flex items-center gap-4 px-4 py-3 rounded-xl text-slate-500">
            <mat-icon>payments</mat-icon>
            <span class="text-sm font-semibold">Payments</span>
        </a>

    </nav>

    <!-- Logout & Return Home Buttons -->
    <div class="p-4">

        <div class="border-t border-slate-100 mb-3"></div>

        <div class="flex flex-col gap-1">

            <!-- Home -->
            <a [routerLink]="['/feed']" routerLinkActive="bg-slate-900 text-white"
                class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm font-medium text-slate-600 hover:bg-slate-100 transition-all">

                <mat-icon class="text-[18px]">home</mat-icon>

                <span class="flex-1">Home</span>
            </a>
            <a (click)="logout()" routerLinkActive="bg-slate-900 text-white"
                class="flex items-center gap-3 px-3 py-2 rounded-lg text-sm text-red-500 hover:bg-red-50 hover:text-red-600 transition-all cursor-pointer">

                <mat-icon class="text-[18px]">logout</mat-icon>

                <span class="flex-1">Logout</span>
            </a>
        </div>

    </div>

</aside>