<div class="flex flex-col lg:flex-row max-w-7xl bg-gray-50 mx-auto my-8 lg:my-12 rounded-xl shadow-2xl overflow-hidden">

    <!-- Mobile Image -->
    <div class="block lg:hidden">
        <img src="./assets/signin-photo.png" class="w-full h-48 object-cover">
    </div>

    <!-- Left Side -->
    <div class="relative w-full  lg:w-6/12 p-4 sm:p-6 lg:p-8">
        <div class="flex flex-col text-center lg:text-start gap-2 mb-4">
            <h1 class="text-2xl sm:text-3xl lg:text-4xl text-dark-blue font-bold">
                Welcome Back!
            </h1>
            <h3 class="text-sm sm:text-base text-dark-blue/70">
                Continue your journey of impact with our community
            </h3>
        </div>

        <!-- Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="p-4 sm:p-6 w-full mx-auto max-w-full sm:max-w-xl bg-white shadow-md rounded-2xl text-xs sm:text-sm lg:text-base">

            <!-- National ID -->
            <div class="mb-4">
                <label class="block font-medium mb-1">National ID Number</label>
                <div class="relative">
                    <svg class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 -translate-y-1/2" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24">
                        <rect x="2" y="4" width="20" height="16" rx="2" stroke-width="2"></rect>
                        <circle cx="7" cy="10" r="2" stroke-width="2"></circle>
                        <line x1="11" y1="8" x2="18" y2="8" stroke-width="2"></line>
                        <line x1="11" y1="12" x2="18" y2="12" stroke-width="2"></line>
                    </svg>

                    <input type="text" formControlName="identityNumber" placeholder="0000-0000-0000-0000"
                        class="input text-sm sm:text-base"
                        [class.border-red-500]="identityNumber?.invalid && (identityNumber?.touched || identityNumber?.dirty)" />
                </div>
                <div *ngIf="identityNumber?.invalid && (identityNumber?.touched || identityNumber?.dirty)"
                    class="text-red-500 text-md mt-1">
                    <small *ngIf="identityNumber?.errors?.['required']">National ID Number is required.</small>
                    <small *ngIf="identityNumber?.errors?.['pattern']">National ID Number must be 14
                        digits.</small>
                </div>
            </div>


            <!-- Password -->
            <div class="mb-4">
                <div class="flex justify-between">
                    <label class="block font-medium mb-1">Password</label>
                    <a routerLink="/forget-password" class="text-bright-blue text-xs sm:text-sm font-semibold">
                        Forgot Password?
                    </a>
                </div>

                <div class="relative">
                    <!-- Left icon: lock -->
                    <svg class="w-5 h-5 text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2 pointer-events-none"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <rect x="5" y="10" width="14" height="10" rx="2" ry="2" stroke-width="2"></rect>
                        <path d="M8 10V7a4 4 0 018 0v3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                    <!--Eye on-->
                    <svg *ngIf="!showPassword" (click)="togglePassword()"
                        class="w-5 h-5 text-gray-400 absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5
                        c4.478 0 8.268 2.943 9.542 7
                        -1.274 4.057-5.064 7-9.542 7
                        -4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                    <!-- Eye off -->
                    <svg *ngIf="showPassword" (click)="togglePassword()"
                        class="w-5 h-5 text-gray-400 absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer"
                        fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5
                        c4.478 0 8.268 2.943 9.542 7
                        -1.274 4.057-5.064 7-9.542 7
                        -4.477 0-8.268-2.943-9.542-7z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18" />
                    </svg>

                    <input type="password" id="password" formControlName="password" placeholder="At least 8 characters"
                        [type]="showPassword ? 'text':'password' " class="input text-sm sm:text-base"
                        [class.border-red-500]="password?.invalid && (password?.touched || password?.dirty)" />
                </div>

                <div *ngIf="password?.invalid && (password?.touched || password?.dirty)"
                    class="text-red-500 text-md mt-1">
                    <small *ngIf="password?.errors?.['required']">Password is required.</small>
                    <small *ngIf="password?.errors?.['minlength']">Password must be at least 8
                        characters.</small>
                </div>
            </div>

            <!-- Donate Box -->
            <div class="mb-4 flex border-l-4 border-light-green bg-light-green/10 p-3 rounded-xl gap-3 sm:gap-4"
                *ngIf="signInData?.recentDonation">
                <div
                    class="w-10 h-10 sm:w-12 sm:h-12 flex items-center justify-center rounded-full bg-light-green/10 shadow-sm shrink-0">
                    <svg class="w-7 h-7 rounded-full text-light-green animate-stepPulse" fill="none" fill="#42e2b8"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.636l1.318-1.318a4.5 4.5 0 116.364 6.364L12 21.682 4.318 12.682a4.5 4.5 0 010-6.364z" />
                    </svg>
                </div>

                <div class="flex flex-col justify-center">
                    <h3 class="font-bold text-dark-blue text-xs sm:text-sm leading-snug">{{
                        signInData.recentDonation.donorName }} just donated
                        {{ signInData.recentDonation.amount | currency:'EGP':'symbol':'1.0-0' }} to {{
                        signInData.recentDonation.postTitle }}</h3>
                    <p class="text-gray-400 text-[10px] sm:text-xs mt-1">{{ signInData.recentDonation.createdAt |
                        timeAgo }}</p>
                </div>
            </div>

            <!-- Milestones -->
            <div class="mb-6" *ngIf="signInData?.milestones">
                <h2 class="text-dark-blue font-black text-sm sm:text-base mb-4 flex items-center gap-2">
                    <mat-icon>trending_up</mat-icon>
                    Today's Milestones
                </h2>
                <div class="grid grid-cols-2 md:grid-cols-3 bg-light-gray/50 p-4 rounded-[2rem] gap-4 sm:gap-6">
                    <div class="flex flex-col items-center text-center gap-1">
                        <img src="./assets/Vector.png" alt="meals" class="w-6 h-6 sm:w-7 sm:h-7">
                        <p class="text-dark-blue font-black text-sm sm:text-base">{{
                            signInData.milestones.mealsDelivered | number }}</p>
                        <p class="text-gray-400 text-[10px] sm:text-xs uppercase font-bold tracking-tighter">Meals
                            Delivered</p>
                    </div>

                    <div class="flex flex-col items-center text-center gap-1">
                        <img src="./assets/Vector2.png" alt="classrooms" class="w-8 h-8 sm:w-9 sm:h-9">
                        <p class="text-dark-blue font-black text-sm sm:text-base">{{
                            signInData.milestones.classroomsBuilt | number }}</p>
                        <p class="text-gray-400 text-[10px] sm:text-xs uppercase font-bold tracking-tighter">Classrooms
                            Built</p>
                    </div>

                    <div
                        class="flex flex-col items-center text-center gap-1 col-span-2 md:col-span-1 border-t md:border-t-0 md:border-l border-gray-200 pt-3 md:pt-0">
                        <img src="./assets/Vector3.png" alt="water" class="w-5 h-5 sm:w-6 sm:h-6">
                        <p class="text-dark-blue font-black text-sm sm:text-base">{{
                            signInData.milestones.cleanWaterLiters | number }}L</p>
                        <p class="text-gray-400 text-[10px] sm:text-xs uppercase font-bold tracking-tighter">Clean Water
                        </p>
                    </div>
                </div>
            </div>

            <!-- Button -->
            <button type="submit" [disabled]="loginForm.invalid || isLoading"
                class="btn-primary w-full text-sm sm:text-base py-3.5 flex justify-center items-center gap-2 rounded-2xl">
                <span>{{ isLoading ? 'Processing' : 'Sign In' }}</span>
                <svg *ngIf="isLoading" class="w-5 h-5 animate-spin" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="3" fill="none" />
                    <path d="M22 12a10 10 0 00-10-10" stroke="currentColor" stroke-width="3" stroke-linecap="round" />
                </svg>
            </button>

            <p class="text-xs sm:text-sm text-center mt-6">
                Don’t have an account?
                <a routerLink="/signup" class="text-bright-blue font-black hover:underline">
                    Sign up
                </a>
            </p>

        </form>
    </div>

    <!-- Right Side -->
    <div class="hidden lg:block lg:w-6/12 relative">
        <div class="absolute inset-0 bg-gradient-to-r from-gray-50/20 to-transparent pointer-events-none"></div>
        <img src="./assets/signin-photo.png" class="w-full h-full object-cover">
    </div>

</div>